name: Checks

on:
  push:
    branches:
      - main
    paths:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'
      - 'flake.nix'
      - 'flake.lock'
      - 'nix/*.nix'
      - '.github/workflows/*.yaml'
      - '.github/workflows/*.yml'
  pull_request:
    paths:
      - '**/*.go'
      - 'go.mod'
      - 'go.sum'
      - 'flake.nix'
      - 'flake.lock'
      - 'nix/*.nix'
      - '.github/workflows/*.yaml'
      - '.github/workflows/*.yml'
  workflow_dispatch:

jobs:
  check:
    strategy:
      matrix:
        command:
          - nix flake check -L

    uses: ./.github/workflows/nix.yaml
    with:
      command: ${{ matrix.command }}
